body {
  margin: 0;
  text-align: center;
  font-family: 'Montserrat' sans-serif;
}
p{
  font-size: 16px;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

.navbaro a {
  color: white !important;
}

.dropdown-menu a {
  color: black !important;
}
.mainbody {
  padding: 0;
  height: 300px;
  width: 100%;
}

#s1 {
  background-color: aliceblue;
  padding: 1% 0%;
}

#s2 {
  background-color: rgb(232, 232, 232);
  padding: 1% 0%;
}
.intro_about{
  margin: auto;
  display: block;
  width: 60%;
}

/* Video frame */
.video-container iframe{
  width: 100%;
  height: 100%;
}
.video-container {
  padding: 12px;
  margin: auto;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 400px;
  overflow: hidden;
  border: 4px solid white;
  border-radius: 10px;
}

@media (max-width: 400px) {
  .video-container {
    height: calc(100vw - 16px); /* Adjust the value to fit your layout and account for padding/margin */
    max-height: 400px;
  }
}

/* Video Frame */


#s3 {
  background-image: url('images/homei1.webp');
  background-color: aliceblue;
  padding: 1% 0%;
}

#s4 {

  background-color: wheat;
  padding: 1% 0%;
}
#s4 h5{
  text-align: center !important;
  color: #000;
  font-weight: 600;
}

/* organizing committee */

.section-heading {
  margin-bottom: 20px;
}

.card {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.card h2{
  text-align: center;
}
.card-header {
  border-radius: 50px !important;
  background-color: #9fd4e9;
  color: #fff;
  padding: 10px;
}

.card-body {
  padding: 20px;
}


.org_com_div{
  width: 60%;
  margin: auto;
}
.org_com_div h3{
  font-size: 20px;
  font-weight: 600;
}

/* sponsor page */

.section-heading {
  margin-bottom: 30px;
}

.sponsor-card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.sponsor-card:hover {
  transform: translateY(-10px);
}

.sponsor-logo {
  max-width: 100%;
  height: auto;
}

.thank-you-message {
  display: block;
  margin: auto;
  font-size: 24px;
  color: #fff;
  background-color: #428bca;
  padding: 20px;
  border-radius: 5px;
}


/* call for sponsorship */
.sponsorship-card img{
  width: 40%;
  text-align: center;
  margin: auto;
}
.section-heading {
  margin-bottom: 30px;
}

.sponsorship-info {
  text-align: center;
  margin-bottom: 30px;
}

.sponsorship-card {
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.sponsorship-card:hover {
  transform: translateY(-10px);
}

.sponsorship-card .card-body {
  padding: 20px;
}
.card-body li{
  text-align: left;
}
/* call for sponsorship */



#cs2 {
  background-color: white;
  text-align: left !important;
}
#cs2 p {
  font-size: 16px;
}

.banner {
  height: 80%;
}
.res_div{
  width:60%; margin: auto;
}


#navactive li a {
  font-weight: bold;
  font-size: 16px;
}

.toppattern {
  background-image: url("/images/top_pattern.jpg");
}

#testimonial {
  padding: 1% 0%;
  background-color: #3CB371;
}

#testimonial h3 {
  text-align: center;
  color: white;
  font-size: 40px;
}

#testimonial img {
  padding: 2% 0;
  width: 20%;
  border-radius: 100%;
  display: inline block;
}

.testimonial-text {
  display: inline block;
}

#testimonial h4 {
  display: inline;
  font-weight: bold;
  color: white;
  padding: 0 4%;
  font-size: 30px;
}

#testimonial p {
  padding-bottom: 20px;
  display: inline block;
  color: white;
  font-size: 25px;
}

.testimonial-slide {
  padding: 0 10%;
}

/* Call for Paper */

#call_for_paper .container {
  margin-top: 40px;
}

#call_for_paper  .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

#call_for_paper .card:hover {
  transform: scale(1.05);
}

#call_for_paper .card-body {
  background-color: #fff;
}

#call_for_paper .card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#call_for_paper .card-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.call-for-paper {
  background-color: #82b0c9;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.call-for-paper h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.call-for-paper p {
  font-size: 18px;
  line-height: 1.5;
}

@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

/* Call for Paper */

/* Venue and information */

#venue .container {
  margin-top: 50px;
}
#venue h1 {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}
#venue .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#venue .card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
#venue .card-body {
  padding: 20px;
}
#venue .card-body p {
  margin-bottom: 0;
}



/* Venue and information */



/* Registration Information */
#reginfo .container {
  max-width: 900px;
  margin: 0 auto;
}

#reginfo .card-table {
  margin-top: 30px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#reginfo .card-table .card-header {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}

#reginfo .card-table .card-body {
  padding: 0;
}

#reginfo .card-table .table {
  margin-bottom: 0;
}

#reginfo .card-table .table td, .card-table .table th {
  border-top: none;
}

#reginfo .card-table .table tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

/* Registration Information */


.guideline_to_authors{
  padding: 5% 0;
  background-color: gray;
}
.guideline_to_authors_div{
  text-align: left;
  width: 60%;
  margin: auto;
}
.guideline_to_authors_div h1{
  text-align: center;
}
.guideline_to_authors_div h3{
  font-size: 20px;
  font-weight: 600;
}
.guideline_to_authors_div li{
  list-style: auto !important;

}

/* card codes */
#s3 img {
  height: 150px;
  width: 100%;
}

#s3 h1 {
  padding-bottom: 20px !important;
}

div [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  transition: 0.5s;
  cursor: pointer;
}

.card-title {
  font-size: 25px;
  color: green;
  transition: 1s;
  cursor: pointer;
}

.card-title i {
  font-size: 15px;
  transition: 1s;
  cursor: pointer;
  color: #ffa710
}

.card-title i:hover {
  transform: scale(1.25) rotate(100deg);
  color: #18d4ca;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card-text {
  height: 80px;
  color: black;
  font-weight: bold;
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}

.card::before {
  transform-origin: left top;
}

.card::after {
  transform-origin: right bottom;
}

.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}


/* Footer */
.footerclass a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover,
a:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footerclass h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", Arial, sans-serif;
}

.footerclass img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footerclass.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 40px;
  width: 40px;
  display: block;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
  color: #fff;
}

.form-control {
  height: 52px;
  background: #fff;
  color: #3CB371;
  font-size: 18px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

textarea.form-control {
  height: inherit !important;
}

.ftco-section {
  padding: 12em 0;
  background: #f8f8f8;
}

.ftco-section h2 {
  margin-bottom: 0;
}

footer {
  padding: 1em 0;
}

.footer-02 {
  background: #131719;
}

.footer-02 .footer-heading {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.footer-02 .footer-heading .logo {
  color: #fff;
  text-transform: uppercase;
}

.footer-02 a {
  color: #bba387;
}

.footer-02 p {
  color: rgba(255, 255, 255, 0.3);
}

.footer-02 .copyright {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.footer-02 .list-unstyled li a {
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .list-unstyled li a:hover {
  color: #fff;
}

.footer-02 .list-unstyled a {
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .list-unstyled a:hover {
  color: #fff;
}

.footer-02 .subscribe {
  margin-top: -105px;
}

.footer-02 .subscribe-form {
  border-radius: 40px;
  background: #fff;
  padding: 3px;
  -webkit-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -12px 21px -15px rgba(0, 0, 0, 0.1);
}

.footer-02 .subscribe-form .form-group {
  position: relative;
  margin-bottom: 0;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input {
  background: transparent !important;
  border: none !important;
  outline: none !important;
  color: rgba(0, 0, 0, 0.3) !important;
  font-size: 16px;
  height: 56px;
  border-radius: 0;
}

.footer-02 .subscribe-form .form-group input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.3) !important;
}

.footer-02 .subscribe-form .form-group input:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.footer-02 .subscribe-form .form-group .submit {
  color: #fff !important;
  display: block;
  width: 150px;
  height: 56px;
  font-size: 14px;
  background: #bfa88e !important;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 40px;
}

.footer-02 .subscribe-form .form-group .submit:hover,
.footer-02 .subscribe-form .form-group .submit:focus {
  text-decoration: none !important;
  outline: none !important;
}

.footer-02 .partner-wrap {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  padding: 1em 0;
}

.footer-02 .partner-wrap h3 {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .partner-wrap .partner-name a {
  margin-right: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.4);
}

.footer-02 .partner-wrap .partner-name a span {
  color: white;
}

.footer-02 .partner-wrap .btn-custom {
  font-size: 14px;
}

.footer-02 .border-left {
  border-color: rgba(255, 255, 255, 0.05) !important;
}

@media (max-width: 1199.98px) {
  .footer-02 .border-left {
    border: none;
  }
}

/* Navbar CSS */
.nav-item{
  padding: 0;
  margin: 5px 5px !important;
  border-radius: 50px !important;
  background-color: rgba(255, 223, 209, 0.54) !important;
}
.nav-link{
  padding: 0 5px;
  letter-spacing: 0.05em;
  color: black !important;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  /* font-family: poppins-semibold,poppins,sans-serif; */
  font-weight: 400;
  font-size: 15px;
}
.dropdown-menu{
  width: fit-content !important;
  min-width: max-content !important;
  text-align: center;
  border: solid 1px #c8c8fa;
  background-color: white !important;
  border-radius: 20px;
  /* opacity: 0 !important; */
}
.nav-item:hover{
  background-color: #c8c8fa !important;
}
.dropdown-item{
  padding:6px 6px ;
}
.dropdown-item:hover{
  border-radius: 50px;
  background-color: #c8c8fa;
}
@media only screen and (min-width:1200px) {
  .nav-item>.nav-link {
    padding: 5px 20px !important;
    display: block !important;
  }
}

@media only screen and (max-width:992px) {
  .header-inner {
    background-color: white !important;
  }

  .nav-item>.nav-link {
    color: black !important
  }

  .logo {
    color: #000 !important;
    font-weight: 600 !important;
  }

  .content-banner .first-title {
    font-size: 30px !important;
  }
}



.banner-btn {
  padding: 0 34px;
  z-index: 1;
  margin: 30px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 16px;
  background-color: none;
  display: inline-block;
  color: white;
  transition: 0.3s;
  text-align: center;

}

.banner-btn:hover {
  text-decoration: none;
  color: white;
  background-color: none;
}


.header {
  position: relative;
  width: 100%;
}

.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: transparent;
}

.nav-item .nav-link {
  display: block;
  line-height: 36px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: 0.15s;
}

.nav-item .nav-link:hover {
  color: #FE4066;
}

.header-btn {
  color: #ffffff;
  border-radius: 30px;
  background-color: gray;
  border: none;
  font-weight: 500;
  outline: none;
  font-size: 15px;
  padding: 7px 22px;
  transition: 0.5s;
}

.header-btn:hover {
  background-color: #FE4066;
  cursor: pointer;
}

.navbar-scroll {
  background-color: #ffffff;
  padding: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition-duration: 0.6s;
}

.navbar-scroll .nav-item .nav-link {
  color: black;
}

.navbar-scroll .header-btn {
  color: #ffffff;
  background-color: #fe4066;
}

.navbar-scroll .logo {
  color: #000;
  font-weight: 500;
}

.content-banner {
  color: #ffffff;
  background-image: url(../images/banner.jpg);
  background-color: #f8f8f8;
  min-height: 400px;
  height: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  padding-top: 100px;
}

.content-banner:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(57, 49, 49, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.content-banner .first-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  margin: 0px 0px 12px;
}

.content-banner .banner-des {
  font-size: 25px;
  line-height: 150%;
  letter-spacing: 0;
  position: relative;
  z-index: 2;
  font-weight: 600;
  margin-top: 0;
}

.banner-btn {
  padding: 0 34px;
  z-index: 1;
  margin: 10px auto 25px;
  line-height: 56px;
  position: relative;
  border-radius: 6px;
  height: 56px;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  color: #fe4066;
  transition: 0.3s;
  text-align: center;
}

.banner-btn:hover {}

.responsive-iframe {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* photo gallery */

#gallerys1 {
  display: block;
  margin: auto;
  width: 60% !important;
  height: auto;
}
/* Coming Soon */
#coming-soon{
  color: white;
  padding: 0 17%;
  height: 500px;
  width: auto;
}
#coming-soon h1{
  color: white;
}
#coming-soon .bgimg {
  /* Background image */
  background-image: url('../images/forestbridge.jpg');
  /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
  /* Set the font-size to 25 pixels */
  font-size: 25px;
}

/* Position text in the top-left corner */
#coming-soon .topleft {
  position: absolute;
  top: 0;
  left: 16px;
}

/* Position text in the bottom-left corner */
#coming-soon .bottomleft {
  position: absolute;
  bottom: 0;
  left: 16px;
}

/* Position text in the middle */
#coming-soon .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the <hr> element */
#coming-soon hr {
  margin: auto;
  width: 40%;
}

/* about Section */
#section-about {
  background-color: rgb(232, 232, 232);
  padding: 2% 0%;
}
#section-about ul{
  display: block;
  text-align: left !important;
  margin: auto;
}
#section-about li{
  text-align: left !important;
  font-size: 16px;
}


/* Partner Slider */


/* Slider */
.sponsor-section {
  text-align: center;
  padding: 40px 0;
}

.sponsor-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sponsor-logo {
  max-width: 200px;
  max-height: 100px;
  margin: 10px 20px;
  transition: transform 0.3s;
  cursor: pointer;
}

.sponsor-logo:hover {
  transform: scale(1.1);
}

/* Important Dates  */

.important-dates {
  background-color: #f8f9fa;
  padding: 30px;
}

.important-dates h2 {
  text-align: center;
  margin-bottom: 20px;
}

.important-dates .date-item {
  cursor: pointer;
}

.important-dates .date-item .card {
  border: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.important-dates .date-item .card:hover {
  transform: scale(1.05);
}

.important-dates .date-item .card .card-body {
  padding: 20px;
}

.important-dates .date-item .date {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.important-dates .date-item .event {
  color: #666;
}

.important-dates .date-item .event:hover {
  color: #ff4081;
  transition: color 0.3s ease-in-out;
}



.important_dates{
  width: 60%;
  margin: auto;
}

.important_dates .card-margin {
  margin-bottom: 1.875rem;
}

.important_dates .card {
  border: 0;
  box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
  -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}
.important_dates .card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid #e6e4e9;
  border-radius: 8px;
}

.important_dates .card .card-header.no-border {
  border: 0;
}
.important_dates .card .card-header {
  background: none;
  margin: auto
  padding: 0 0.9375rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  min-height: 50px;
}

.important_dates .card-header:first-child {
  border-radius: calc(8px - 1px) calc(8px - 1px) 0 0;
}

.important_dates .widget-49 .widget-49-title-wrapper {
display: flex;
align-items: center;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-primary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #edf1fc;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-day {
color: #4e73e5;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-primary .widget-49-date-month {
color: #4e73e5;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-secondary {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fcfcfd;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-day {
color: #dde1e9;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-secondary .widget-49-date-month {
color: #dde1e9;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-success {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #e8faf8;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-day {
color: #17d1bd;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-success .widget-49-date-month {
color: #17d1bd;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-info {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebf7ff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-day {
color: #36afff;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-info .widget-49-date-month {
color: #36afff;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-warning {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: floralwhite;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-day {
color: #FFC868;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-warning .widget-49-date-month {
color: #FFC868;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-danger {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #feeeef;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-day {
color: #F95062;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-danger .widget-49-date-month {
color: #F95062;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-light {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #fefeff;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-day {
color: #f7f9fa;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-light .widget-49-date-month {
color: #f7f9fa;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-dark {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #ebedee;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-day {
color: #394856;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-dark .widget-49-date-month {
color: #394856;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-base {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
background-color: #f0fafb;
width: 4rem;
height: 4rem;
border-radius: 50%;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-day {
color: #68CBD7;
font-weight: 500;
font-size: 1.5rem;
line-height: 1;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-date-base .widget-49-date-month {
color: #68CBD7;
line-height: 1;
font-size: 1rem;
text-transform: uppercase;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-meeting-info {
display: flex;
flex-direction: column;
margin-left: 1rem;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-pro-title {
color: #3c4142;
font-size: 14px;
}

.important_dates .widget-49 .widget-49-title-wrapper .widget-49-meeting-info .widget-49-meeting-time {
color: #B1BAC5;
font-size: 13px;
}

.important_dates .widget-49 .widget-49-meeting-points {
font-weight: 400;
font-size: 13px;
margin-top: .5rem;
}

.important_dates .widget-49 .widget-49-meeting-points .widget-49-meeting-item {
display: list-item;
color: #727686;
}

.important_dates .widget-49 .widget-49-meeting-points .widget-49-meeting-item span {
margin-left: .5rem;
}

.important_dates .widget-49 .widget-49-meeting-action {
text-align: right;
}

.important_dates .widget-49 .widget-49-meeting-action a {
text-transform: uppercase;
}

/* Parnter Static */
#partnerStatic{
  background-color: white;
}
.partnerstatic{
  width: 60%;
  margin: auto;
}
.partnerstatic img{
  padding: 5px 15px;
  width: 200px;
  height: 100px;
}


/* Logo fixed */
.compas_logo_bottom {
  margin: 10px 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 140px;
  height: 110px;
  background-image: url("../images/compas.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 9999;
}
.csbdc_logo_bottom {
  margin: 10px 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 180px;
  height: 70px;
  background-image: url("../images/ieeecsbdc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}