body{
    margin: 0;
    text-align: center;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0 250px;
}
.mainbody{
    padding: 0;
    height: 300px;
    width: 100%;
}
#s1{
    background-color: aliceblue;
    padding: 2% 15% ;
}
#s4{
    background-color: rgb(0,26,112);
    padding: 2% 15% ;
}
.nav-link{
    font-size: 15px;
    color: #000;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 100px;
    border: 0 solid #757575;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(255, 223, 209, 0.54);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.important-date{
    text-align: center;
    border: solid 2px white;

}
